<section>
	<h1>Home </h1>
</section>
<div>
    	<button type="button" class="btn btn-default" ng-click="home.open()">Open me!</button>
</div>


<ul>
	<li ng-repeat="room in home.roomList">
		<a ui-sref="rooms" ng-click="">{{ room.name }}</a>
	</li> 
</ul>

<section>
<title>{{room.name}}</title>
<table>
	<tr ng-repeat="message in home.messages">
		<td class="username">
			<!-- username tag -->
		</td>
		<td class="room-view-message-body">
				<!-- message body -->
		</td>
		<td class="room-view-timestamp">
				<!-- timestamp tag -->
		</td>
	</tr>
</table>
</section>