<section>
	<h1>Home </h1>
</section>
<div>
    	<button type="button" class="btn btn-default" ng-click="home.open()">Open me!</button>
</div>


<ul>
	<li ng-repeat="room in home.roomList">
		<a ng-click="home.selectRoom(room)">{{ room.name }}</a>
	</li> 
</ul>

<section id="messages">
<h2>{{home.currentRoom.name}}</h2>
	<div ng-repeat="message in home.messages" class="message">
		<span class="username">
			<strong>{{message.username}}:</strong> {{message.content}}
		</span>
		<span class="room-view-timestamp pull-right">
			{{message.sentAt}}
		</span>
	</div>
</section>